.button {
  background-color: #66c820;
  border: 1px solid #66c820;
  border-radius: .3rem;
  color: white;
  font-size: 1.1rem;
  padding: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
