.filters__list {
  display: flex;
  justify-content: space-between;
}
.filters__list__item {
  width: 100%;
}
.open {
  background-color: white;
  color: #0898e7;
}
.close {
  background-color: #0898e7;
  color: white;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0898e7;
  border-radius: 5px 5px 0 0;
  border-bottom: 0px;
  padding: 1rem 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
}
