hr {
  border: none;
  border-top: 1px solid #0898e7;
  color: #222;
  overflow: visible;
  text-align: center;
  margin: 3rem 0 0rem 0;
}

hr:after {
  background: #fff;
  content: ' ou ';
  color: #0898e7;
  padding: 0 1rem;
  position: relative;
  top: -13px;
}
.section {
  padding: 2rem;
}

.category {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 600;
  padding: .8rem 0;
}
.form__input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}
.form__input__container > div {
  width: 100%;
}
.form__input__container__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #0898e7;
  border-radius: 0.3rem;
  width: 100%;
}
.input {
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  width: 100%;
}
.input::placeholder {
  color: #0898e7;
}
.input:focus-visible {
  outline: none;
}
.inputContainer__dropdown {
  border: 1px solid #0898e7;
  border-top: none;
  border-radius: 0 0 0.3rem 0.3rem;
  width: 100%;
  color: #424242;
  max-height: 100px;
  overflow: auto;
}
.inputContainer__dropdown > li {
  padding: 0.25rem 1rem;
}
.inputContainer__dropdown > li:hover {
  background-color: rgba(8, 152, 231, 0.2);
}

.searchButton {
  margin-top: 3rem;
}
.chevron {
  padding: 0 1rem;
}
